@value makerWhite, makerGreen, makerLightPink from '../../common/colors.css';

* {
  box-sizing: border-box;
}

.login {
  width: 30em;
  display: flex;
  flex-direction: column;
  background-color: makerWhite;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  list-style: none;
}

.button {
  width: 100%;
  margin-top: 0.5em;
  outline: none;
  border: 3px solid #3f708d;
  border-radius: 20px;
  font-size: 1.3rem;
  padding: 0.5em;
  background-color: makerWhite;
  cursor: pointer;
}

.button:hover {
  background-color: makerLightPink;
}
